tools/eventDisplay/config/coloring.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="detector">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="name" use="optional"/>
          <xs:attribute type="xs:string" name="color" use="optional"/>
          <xs:attribute type="xs:byte" name="transparency" use="optional"/>
          <xs:attribute type="xs:string" name="isRecursiveColoring" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="coloring">
    <xs:annotation>
      <xs:documentation>// COLOR SET:
 white, black, gray, blue, azure (navy blue), cyan (sea wave), teal (turquoise),
 green, spring (pale green), green+2 (dark green), spring+2 (dark green), khaki,
 yellow, orange (yellow with a tone), orange+2 (orange), orange+1 (pale orange), orange+7 (highlighted orange),
 red, violet, magenta (burgundy), magenta-6 (light burgundy), pink (dark rose)
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="detector" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="level" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="type" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="level">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:byte" name="number" use="optional"/>
          <xs:attribute type="xs:string" name="color" use="optional"/>
          <xs:attribute type="xs:string" name="isFillLine" use="optional"/>
          <xs:attribute type="xs:string" name="visibility" use="optional"/>
          <xs:attribute type="xs:byte" name="transparency" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
